.card{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-dark-lighter;
	border-radius: 25px;
	width: 90%;
	max-width: 600px;
	padding: 20px;
	text-align: center;

	&__title{
		position: relative;
		color: $color-primary;
		font-size: 12px;
		text-transform: uppercase;

		.adviceId{
			transition: all 0.4s ease-in;
			position: absolute;
		}
	}

	&__text{
		color: $color-light;
		position: relative;
		margin-bottom: 100px;
		font-size: 24px;
		transition: all 0.4s ease-in;
		min-height: 160px;
		display: grid;
		align-items: center;
	}
}

.fade{
	opacity: 0;
	transition: all 0.5s ease-out;
}